/* body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(46, 46, 46, 0);
    color: rgb(255, 255, 255);
} */
.container-nav{
    height: 60px;
    width: 100vw;
    max-width: 80vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}
.nav-left{
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.007);
    width: auto;
}
.nav-left img{
    height: 100px;
    width: auto;
    object-fit: contain;
    margin-top: -17px;
    margin-left: -10px;
    cursor: pointer;
}
.nav-right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.034);
}
.ul{
    display: flex;
    justify-content: space-between;
}
.ul li{
    list-style: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 45px;
    position: relative;
    
}
.ul li:hover{
    scale: 1.1;
    background-color: rgb(57, 58, 58);
    color: bisque;
}
